version: "3"

services:
  app:
    build:
      context: ./php
    container_name: app
    volumes:
      - ../:/var/www
    ports:
      - "8000:8000"
      - "9000:8080"
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
